fcsInternal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- FCS INTERNAL Integration Scheme, version 9.0, create date 25.12.2018 -->
<xs:schema xmlns="http://zakupki.gov.ru/oos/internal/1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oos="http://zakupki.gov.ru/oos/types/1" xmlns:pp615="http://zakupki.gov.ru/oos/pprf615types/1" xmlns:ep="http://zakupki.gov.ru/oos/EPtypes/1" xmlns:cp="http://zakupki.gov.ru/oos/CPtypes/1" targetNamespace="http://zakupki.gov.ru/oos/internal/1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://zakupki.gov.ru/oos/types/1" schemaLocation="IntegrationTypes.xsd"/>
	<xs:import namespace="http://zakupki.gov.ru/oos/pprf615types/1" schemaLocation="Integration615Types.xsd"/>
	<xs:import namespace="http://zakupki.gov.ru/oos/EPtypes/1" schemaLocation="IntegrationEPTypes.xsd"/>
	<xs:import namespace="http://zakupki.gov.ru/oos/CPtypes/1" schemaLocation="IntegrationCPTypes.xsd"/>
	<xs:element name="bankGuarantee" type="oos:zfcs_bankGuaranteeType">
		<xs:annotation>
			<xs:documentation>Информация о выданной банковской гарантии; внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="bankGuaranteeInvalid" type="oos:zfcs_bankGuaranteeInvalidType">
		<xs:annotation>
			<xs:documentation>Информация о недействительности сведений о банковской гарантии</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="bankGuaranteeRefusal" type="oos:zfcs_bankGuaranteeRefusalType">
		<xs:annotation>
			<xs:documentation>Сведения об отказе заказчика в принятии банковской гарантии; внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="bankGuaranteeRefusalInvalid" type="oos:zfcs_bankGuaranteeRefusalInvalidType">
		<xs:annotation>
			<xs:documentation>Сведения о недействительности отказа заказчика в принятии банковской гарантии</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="bankGuaranteeTermination" type="oos:zfcs_bankGuaranteeTerminationType">
		<xs:annotation>
			<xs:documentation>Информация о прекращении обязательств поставщика по банковской гарантии; внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="bankGuaranteeTerminationInvalid" type="oos:zfcs_bankGuaranteeTerminationInvalidType">
		<xs:annotation>
			<xs:documentation>Сведения о недействительности информации о прекращении обязательств поставщика по банковской гарантии</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="bankGuaranteeReturn" type="oos:zfcs_bankGuaranteeReturnType">
		<xs:annotation>
			<xs:documentation>Информация о возвращении банковской гарантии или об освобождении от обязательств по банковской гарантии; внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="bankGuaranteeReturnInvalid" type="oos:zfcs_bankGuaranteeReturnInvalidType">
		<xs:annotation>
			<xs:documentation>Сведения о недействительности информации о возвращении банковской гарантии или об освобождении от обязательств по банковской гарантии</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--ФАС-->
	<xs:element name="checkPlan" type="oos:zfcs_checkPlanType">
		<xs:annotation>
			<xs:documentation>План проверок</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="checkResult" type="oos:zfcs_checkResultType">
		<xs:annotation>
			<xs:documentation>Результат контроля</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="checkResultCancel" type="oos:zfcs_checkResultCancelType">
		<xs:annotation>
			<xs:documentation>Информация об отмене результата контроля</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="complaint" type="oos:zfcs_complaintType">
		<xs:annotation>
			<xs:documentation>Информация по жалобе</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="complaintCancel" type="oos:zfcs_complaintCancelType">
		<xs:annotation>
			<xs:documentation>Информация об отзыве жалобы</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="complaintGroup" type="oos:zfcs_complaintGroupType">
		<xs:annotation>
			<xs:documentation>Информация по групповой жалобе</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="unplannedCheck" type="oos:zfcs_unplannedCheckType">
		<xs:annotation>
			<xs:documentation>Информация по внеплановой проверке</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="unplannedCheckCancel" type="oos:zfcs_unplannedCheckCancelType">
		<xs:annotation>
			<xs:documentation>Информация об отмене проведения внеплановой проверки</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="electronicComplaintProject" type="oos:zfcs_electronicComplaintType">
		<xs:annotation>
			<xs:documentation>Информация по жалобе, поданной в электронном виде</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--ОВК-->
	<xs:element name="eventPlan" type="oos:zfcs_eventPlanType">
		<xs:annotation>
			<xs:documentation>План мероприятий</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="eventPlanSuspension" type="oos:zfcs_eventPlanSuspensionType">
		<xs:annotation>
			<xs:documentation>Информация о приостановке/возобновлении планового контрольного мероприятия</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="eventResult" type="oos:zfcs_eventResultType">
		<xs:annotation>
			<xs:documentation>Результат контроля</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="eventResultCancel" type="oos:zfcs_eventResultCancelType">
		<xs:annotation>
			<xs:documentation>Информация об отмене результата контроля</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="unplannedEvent" type="oos:zfcs_unplannedEventType">
		<xs:annotation>
			<xs:documentation>Информация по внеплановому контрольному мероприятию</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="unplannedEventSuspension" type="oos:zfcs_unplannedEventSuspensionType">
		<xs:annotation>
			<xs:documentation>Информация о приостановке/возобновлении внепланового контрольного мероприятия</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="unplannedEventCancel" type="oos:zfcs_unplannedEventCancelType">
		<xs:annotation>
			<xs:documentation>Информация об отмене проведения внепланового контрольного мероприятия</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="eventPlanProject" type="oos:zfcs_eventPlanProjectType">
		<xs:annotation>
			<xs:documentation>Проект плана мероприятий</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="eventResultProject" type="oos:zfcs_eventResultProjectType">
		<xs:annotation>
			<xs:documentation>Проект результата контроля</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="eventResultCancelProject" type="oos:zfcs_eventResultCancelProjectType">
		<xs:annotation>
			<xs:documentation>Проект информации об отмене результата контроля</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="unplannedEventProject" type="oos:zfcs_unplannedEventProjectType">
		<xs:annotation>
			<xs:documentation>Проект информации по внеплановому контрольному мероприятию</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="unplannedEventCancelProject" type="oos:zfcs_unplannedEventCancelProjectType">
		<xs:annotation>
			<xs:documentation>Проект информации об отмене проведения внепланового контрольного мероприятия</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="clarification" type="oos:clarificationType">
		<xs:annotation>
			<xs:documentation>94ФЗ разъяснение конкурсной/аукционной документации</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="clarificationRequest" type="oos:clarificationRequestType">
		<xs:annotation>
			<xs:documentation>94ФЗ запрос на разъяснение конкурсной/аукционной документации</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="confirmation" type="oos:zfcs_confirmationType">
		<xs:annotation>
			<xs:documentation>Результат обработки</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="signIncomingConfirmation" type="oos:zfcs_signIncomingConfirmationType">
		<xs:annotation>
			<xs:documentation> Результат обработки для бесшовной интеграции с присвоенным реестровым номером и датой публикации документа</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="projectIncomingConfirmation" type="oos:zfcs_projectIncomingConfirmationType">
		<xs:annotation>
			<xs:documentation> Результат обработки проекта документа для бесшовной интеграции</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="contract" type="oos:zfcs_contract2015Type">
		<xs:annotation>
			<xs:documentation>Информация о заключенном контракте</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="contractWithControl99NoticeCompliance" type="oos:zfcs_contract2015WithControl99NoticeComplianceType">
		<xs:annotation>
			<xs:documentation>Информация о заключенном контракте с уведомлением о соответствии контролируемой информации по 99 статье</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="contractCancel" type="oos:zfcs_contractCancel2015Type">
		<xs:annotation>
			<xs:documentation>Информация об анулировании контракта</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="contractProcedure" type="oos:zfcs_contractProcedure2015Type">
		<xs:annotation>
			<xs:documentation>Информация об исполнении (расторжении) контракта</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="contractProcedureWithControl99NoticeCompliance" type="oos:zfcs_contractProcedure2015WithControl99NoticeComplianceType">
		<xs:annotation>
			<xs:documentation>Информация об исполнении (расторжении) контракта  с уведомлением о соответствии контролируемой информации по 99 статье</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="contractProcedureCancel" type="oos:zfcs_contractProcedureCancel2015Type">
		<xs:annotation>
			<xs:documentation>Информация об отмене исполнения (расторжения) контракта</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="contractSign" type="oos:contractSignType">
		<xs:annotation>
			<xs:documentation>94ФЗ информация о подписании государственного/муниципального контракта на ЭП</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsAddInfo" type="oos:zfcs_addInfoType">
		<xs:annotation>
			<xs:documentation>Дополнительная информация о закупках, контрактах </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsAddInfoInvalid" type="oos:zfcs_addInfoInvalidType">
		<xs:annotation>
			<xs:documentation>Информация о недействительности дополнительной информации о закупках, контрактах </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsAuditResult" type="oos:zfcs_auditResultType">
		<xs:annotation>
			<xs:documentation>Обобщенная информация о результатах деятельности органа аудита в сфере закупок</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsCustomerReportBigProjectMonitoring" type="oos:zfcs_customerReportBigProjectMonitoringType">
		<xs:annotation>
			<xs:documentation>Отчет по мониторингу реализации крупных проектов с государственным участие</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsCustomerReportBigProjectMonitoringInvalid" type="oos:zfcs_customerReportBigProjectMonitoringInvalidType">
		<xs:annotation>
			<xs:documentation>Информация о недействительности сведений отчета об исполнении контракта (результатах отдельного этапа исполнения контракта)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsCustomerReportContractExecution" type="oos:zfcs_customerReportContractExecutionType">
		<xs:annotation>
			<xs:documentation>Отчет об исполнении контракта (результатах отдельного этапа исполнения контракта)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsCustomerReportContractExecutionInvalid" type="oos:zfcs_customerReportContractExecutionInvalidType">
		<xs:annotation>
			<xs:documentation>Информация о недействительности сведений отчета об исполнении контракта (результатах отдельного этапа исполнения контракта)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsCustomerReportSingleContractor" type="oos:zfcs_customerReportSingleContractorType">
		<xs:annotation>
			<xs:documentation>Отчет с обоснованием закупки у единственного поставщика (подрядчика, исполнителя)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsCustomerReportSingleContractorInvalid" type="oos:zfcs_customerReportSingleContractorInvalidType">
		<xs:annotation>
			<xs:documentation>Информация о недействительности сведений отчета с обоснованием закупки у единственного поставщика (подрядчика, исполнителя)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsCustomerReportSmallScaleBusiness" type="oos:zfcs_customerReportSmallScaleBusinessType">
		<xs:annotation>
			<xs:documentation>Отчет об объеме закупок у субъектов малого предпринимательства, социально ориентированных некоммерческих организаций</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsCustomerReportSmallScaleBusinessInvalid" type="oos:zfcs_customerReportSmallScaleBusinessInvalidType">
		<xs:annotation>
			<xs:documentation>Информация о недействительности сведений отчета об объеме закупок у субъектов малого предпринимательства, социально ориентированных некоммерческих организаций</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsClarification" type="oos:zfcs_clarificationType">
		<xs:annotation>
			<xs:documentation>Разъяснение положений документации</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsClarificationRequest" type="oos:zfcs_clarificationRequestType">
		<xs:annotation>
			<xs:documentation>Запрос ЭП о даче разъяснений положений документации по 44-ФЗ</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsNotificationCancel" type="oos:zfcs_notificationCancelType">
		<xs:annotation>
			<xs:documentation>Извещения об отмене определения поставщика (подрядчика, исполнителя)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsNotificationCancelFailure" type="oos:zfcs_notificationCancelFailureType">
		<xs:annotation>
			<xs:documentation>Отмена извещения об отмене определения поставщика (подрядчика, исполнителя) (в части лота);</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsNotificationEF" type="oos:zfcs_notificationEFType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении ЭА (электронный аукцион); внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsNotificationEFWithControl99NoticeCompliance" type="oos:zfcs_notificationEFWithControl99NoticeComplianceType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении ЭА (электронный аукцион)  с уведомлением о соответствии контролируемой информации по 99 статье</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsNotificationEFDateChange" type="oos:zfcs_notificationEFDateChangeType">
		<xs:annotation>
			<xs:documentation>
Уведомление об изменении даты и времени проведения электронного аукциона</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsNotificationEP" type="oos:zfcs_notificationEPType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении закупки у ЕП (единственного поставщика); внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsNotificationEPWithControl99NoticeCompliance" type="oos:zfcs_notificationEPWithControl99NoticeComplianceType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении закупки у ЕП (единственного поставщика) с уведомлением о соответствии контролируемой информации по 99 статье</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsNotification111" type="oos:zfcs_notificationI111Type">
		<xs:annotation>
			<xs:documentation>Извещение о проведении закупки способом определения поставщика (подрядчика, исполнителя), установленным Правительством Российской Федерации в соответствии со ст. 111 Федерального закона № 44-ФЗ</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsNotification111WithControl99NoticeCompliance" type="oos:zfcs_notification111WithControl99NoticeComplianceType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении закупки способом определения поставщика (подрядчика, исполнителя), установленным Правительством Российской Федерации в соответствии со ст. 111 Федерального закона № 44-ФЗ  с уведомлением о соответствии контролируемой информации по 99 статье</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsNotificationISM" type="oos:zfcs_notificationISMType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении закупки многолотовым ИС (иной способ); внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsNotificationISO" type="oos:zfcs_notificationISOType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении закупки однолотовым ИС (иной способ); внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsNotificationLotCancel" type="oos:zfcs_notificationLotCancelType">
		<xs:annotation>
			<xs:documentation>Извещение об отмене определения поставщика (подрядчика, исполнителя) в части лота</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsNotificationOK" type="oos:zfcs_notificationOKType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении OK (открытый конкурс); внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsNotificationOKWithControl99NoticeCompliance" type="oos:zfcs_notificationOKWithControl99NoticeComplianceType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении OK (открытый конкурс) с уведомлением о соответствии контролируемой информации по 99 статье</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsNotificationOKD" type="oos:zfcs_notificationOKDType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении OK-Д (двухэтапный конкурс); внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsNotificationOKDWithControl99NoticeCompliance" type="oos:zfcs_notificationOKDWithControl99NoticeComplianceType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении OK-Д (двухэтапный конкурс) с уведомлением о соответствии контролируемой информации по 99 статье</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsNotificationOKOU" type="oos:zfcs_notificationOKOUType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении OK-ОУ (конкурс с ограниченным участием); внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsNotificationOKOUWithControl99NoticeCompliance" type="oos:zfcs_notificationOKOUWithControl99NoticeComplianceType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении OK-ОУ (конкурс с ограниченным участием) с уведомлением о соответствии контролируемой информации по 99 статье</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsNotificationPO" type="oos:zfcs_notificationPOType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении ПО (предварительный отбор); внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsNotificationZakA" type="oos:zfcs_notificationZakAType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении ЗакА (закрытый аукцион); внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsNotificationZakAWithControl99NoticeCompliance" type="oos:zfcs_notificationZakAWithControl99NoticeComplianceType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении ЗакА (закрытый аукцион) с уведомлением о соответствии контролируемой информации по 99 статье</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsNotificationZakK" type="oos:zfcs_notificationZakKType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении ЗакK (закрытый конкурс); внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsNotificationZakKWithControl99NoticeCompliance" type="oos:zfcs_notificationZakKWithControl99NoticeComplianceType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении ЗакK (закрытый конкурс) с уведомлением о соответствии контролируемой информации по 99 статье</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsNotificationZakKD" type="oos:zfcs_notificationZakKDType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении ЗакK-Д (закрытый двухэтапный конкурс); внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsNotificationZakKDWithControl99NoticeCompliance" type="oos:zfcs_notificationZakKDWithControl99NoticeComplianceType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении ЗакK-Д (закрытый двухэтапный конкурс) с уведомлением о соответствии контролируемой информации по 99 статье</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsNotificationZakKOU" type="oos:zfcs_notificationZakKOUType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении ЗакK-ОУ (закрытый конкурс с ограниченным участием); внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsNotificationZakKOUWithControl99NoticeCompliance" type="oos:zfcs_notificationZakKOUWithControl99NoticeComplianceType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении ЗакK-ОУ (закрытый конкурс с ограниченным участием) с уведомлением о соответствии контролируемой информации по 99 статье</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsNotificationZK" type="oos:zfcs_notificationZKType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении ЗK (запрос котировок); внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsNotificationZKWithControl99NoticeCompliance" type="oos:zfcs_notificationZKWithControl99NoticeComplianceType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении ЗK (запрос котировок) с уведомлением о соответствии контролируемой информации по 99 статье</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsNotificationZP" type="oos:zfcs_notificationZPType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении ЗП (запрос предложений); внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsNotificationZPWithControl99NoticeCompliance" type="oos:zfcs_notificationZPWithControl99NoticeComplianceType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении ЗП (запрос предложений) с уведомлением о соответствии контролируемой информации по 99 статье</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsNotificationLotChange" type="oos:zfcs_notificationLotChangeType">
		<xs:annotation>
			<xs:documentation>Внесение измененийа в извещение в части лот</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsNotificationOrgChange" type="oos:zfcs_notificationOrgChangeType">
		<xs:annotation>
			<xs:documentation>Уведомление об изменении организации, осуществляющей закупку</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsPurchaseDocument" type="oos:zfcs_purchaseDocumentType">
		<xs:annotation>
			<xs:documentation>Информация о документе закупки</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsPurchaseDocumentCancel" type="oos:zfcs_purchaseDocumentCancelType">
		<xs:annotation>
			<xs:documentation>Информация об отмене документа закупки</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsPurchaseProlongationOK" type="oos:zfcs_purchaseProlongationOKType">
		<xs:annotation>
			<xs:documentation>Извещение о продлении срока подачи заявок по открытому конкурсу</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsPurchaseProlongationZK" type="oos:zfcs_purchaseProlongationZKType">
		<xs:annotation>
			<xs:documentation>Извещение о продлении срока подачи котировочных заявок</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsContractSign" type="oos:zfcs_contractSignType">
		<xs:annotation>
			<xs:documentation>Информация о подписании государственного/муниципального контракта на ЭП</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsTimeEF" type="oos:zfcs_timeEFType">
		<xs:annotation>
			<xs:documentation>Время проведения электронного аукциона</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsPlacementResult" type="oos:zfcs_placementResultType">
		<xs:annotation>
			<xs:documentation>Результат проведения процедуры определения поставщика</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolCancel" type="oos:zfcs_protocolCancelType">
		<xs:annotation>
			<xs:documentation>Информация об отмене протокола</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolEvasion" type="oos:zfcs_protocolEvasionType">
		<xs:annotation>
			<xs:documentation>Протокол отказа от заключения контракта; внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolDeviation" type="oos:zfcs_protocolDeviationType">
		<xs:annotation>
			<xs:documentation>Протокол признания участника уклонившимся от заключения контракта; внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolEF1" type="oos:zfcs_protocolEF1Type">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения заявок на участие в электронном аукционе</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolEF2" type="oos:zfcs_protocolEF2Type">
		<xs:annotation>
			<xs:documentation>Протокол проведения электронного аукциона</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolEF3" type="oos:zfcs_protocolEF3Type">
		<xs:annotation>
			<xs:documentation>Протокол подведения итогов электронного аукциона</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolEFInvalidation" type="oos:zfcs_protocolEFInvalidationType">
		<xs:annotation>
			<xs:documentation>Протокол о признании электронного аукциона несостоявшимся</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolEFSinglePart" type="oos:zfcs_protocolEFSinglePartType">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения заявки единственного участника электронного аукционае</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolEFSingleApp" type="oos:zfcs_protocolEFSingleAppType">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения единственной заявки на участие в электронном аукционе</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolPO" type="oos:zfcs_protocolPOType">
		<xs:annotation>
			<xs:documentation>Протокол предварительного отбора в ПО; внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolOK1" type="oos:zfcs_protocolOK1Type">
		<xs:annotation>
			<xs:documentation>Протокол вскрытия конвертов и открытия доступа к электронным документам заявок участников в ОК; внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolOK2" type="oos:zfcs_protocolOK2Type">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения и оценки заявок на участие в конкурсе в ОК; внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolOK2WithControl99NoticeCompliance" type="oos:zfcs_protocolOK2WithControl99NoticeComplianceType">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения и оценки заявок на участие в конкурсе в ОК с уведомлением о соответствии контролируемой информации по 99 статье</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolOKSingleApp" type="oos:zfcs_protocolOKSingleAppType">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения единственной заявки в ОК; внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolOKSingleAppWithControl99NoticeCompliance" type="oos:zfcs_protocolOKSingleAppWithControl99NoticeComplianceType">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения единственной заявки в ОК с уведомлением о соответствии контролируемой информации по 99 статье</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolOKOU1" type="oos:zfcs_protocolOKOU1Type">
		<xs:annotation>
			<xs:documentation>Протокол вскрытия конвертов и открытия доступа к электронным документам заявок участников в ОК-ОУ; внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolOKOU2" type="oos:zfcs_protocolOKOU2Type">
		<xs:annotation>
			<xs:documentation>Протокол предквалификационного отбора в ОК-ОУ; внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolOKOU3" type="oos:zfcs_protocolOKOU3Type">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения и оценки заявок на участие в конкурсе в ОК-ОУ; внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolOKOU3WithControl99NoticeCompliance" type="oos:zfcs_protocolOKOU3WithControl99NoticeComplianceType">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения и оценки заявок на участие в конкурсе в ОК-ОУ с уведомлением о соответствии контролируемой информации по 99 статье</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolOKOUSingleApp" type="oos:zfcs_protocolOKOUSingleAppType">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения единственной заявки в ОК-ОУ; внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolOKOUSingleAppWithControl99NoticeCompliance" type="oos:zfcs_protocolOKOUSingleAppWithControl99NoticeComplianceType">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения единственной заявки в ОК-ОУ с уведомлением о соответствии контролируемой информации по 99 статье</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolOKD1" type="oos:zfcs_protocolOKD1Type">
		<xs:annotation>
			<xs:documentation>Протокол вскрытия конвертов и открытия доступа к электронным документам первоначальных заявок в ОК-Д; внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolOKD2" type="oos:zfcs_protocolOKD2Type">
		<xs:annotation>
			<xs:documentation>Протокол предквалификационного отбора в ОК-Д; внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolOKD3" type="oos:zfcs_protocolOKD3Type">
		<xs:annotation>
			<xs:documentation>Протокол первого этапа в ОК-Д; внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolOKD4" type="oos:zfcs_protocolOKD4Type">
		<xs:annotation>
			<xs:documentation>Протокол вскрытия конвертов и открытия доступа к электронным документам окончательных заявок в ОК-Д; внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolOKD5" type="oos:zfcs_protocolOKD5Type">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения и оценки заявок на участие в конкурсе в ОК-Д; внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolOKD5WithControl99NoticeCompliance" type="oos:zfcs_protocolOKD5WithControl99NoticeComplianceType">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения и оценки заявок на участие в конкурсе в ОК-Д с уведомлением о соответствии контролируемой информации по 99 статье</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolOKDSingleApp" type="oos:zfcs_protocolOKDSingleAppType">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения единственной заявки в ОК-Д; внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolOKDSingleAppWithControl99NoticeCompliance" type="oos:zfcs_protocolOKDSingleAppWithControl99NoticeComplianceType">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения единственной заявки в ОК-Д с уведомлением о соответствии контролируемой информации по 99 статье</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolZKAfterProlong" type="oos:zfcs_protocolZKAfterProlongType">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения и оценки заявок по результатам продления срока подачи заявок; внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolZKAfterProlongWithControl99NoticeCompliance" type="oos:zfcs_protocolZKAfterProlongWithControl99NoticeComplianceType">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения и оценки заявок по результатам продления срока подачи заявок с уведомлением о соответствии контролируемой информации по 99 статье</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolZK" type="oos:zfcs_protocolZKType">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения и оценки заявок в ЗК</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolZKWithControl99NoticeCompliance" type="oos:zfcs_protocolZKWithControl99NoticeComplianceType">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения и оценки заявок в ЗК  с уведомлением о соответствии контролируемой информации по 99 статье</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolZKBI" type="oos:zfcs_protocolZKBIType">
		<xs:annotation>
			<xs:documentation>Общая информация об объекте закупки и структурированный протокол  рассмотрения и оценки заявок на участие в ЗК-БИ  (запрос котировок без извещения);
 
внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolZKBIWithControl99NoticeCompliance" type="oos:zfcs_protocolZKBIWithControl99NoticeComplianceType">
		<xs:annotation>
			<xs:documentation>Общая информация об объекте закупки и структурированный протокол  рассмотрения и оценки заявок на участие в ЗК-БИ  (запрос котировок без извещения) с уведомлением о соответствии контролируемой информации по 99 статье</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolZPExtract" type="oos:zfcs_protocolZPExtractType">
		<xs:annotation>
			<xs:documentation>Протокол выписки из протокола проведения запроса предложений в ЗП; внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolZPFinal" type="oos:zfcs_protocolZPFinalType">
		<xs:annotation>
			<xs:documentation>Итоговый протокол в ЗП; внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolZPFinalWithControl99NoticeCompliance" type="oos:zfcs_protocolZPFinalWithControl99NoticeComplianceType">
		<xs:annotation>
			<xs:documentation>Итоговый протокол в ЗП с уведомлением о соответствии контролируемой информации по 99 статье</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsProtocolZP" type="oos:zfcs_protocolZPType">
		<xs:annotation>
			<xs:documentation>Протокол проведения запроса предложений в ЗП; внесение изменений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="publicDiscussionLargePurchasePhase1" type="oos:zfcs_publicDiscussionLargePurchasePhase1Type">
		<xs:annotation>
			<xs:documentation>Информация о первом этапе обязательного общественного обсуждения крупной закупки (ООКЗ)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="publicDiscussionLargePurchasePhase2" type="oos:zfcs_publicDiscussionLargePurchasePhase2Type">
		<xs:annotation>
			<xs:documentation>Информация о втором этапе обязательного общественного обсуждения крупной закупки (ООКЗ)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="publicDiscussionSuspensionPhase1" type="oos:zfcs_publicDiscussionPhase1SuspensionType">
		<xs:annotation>
			<xs:documentation>Приостановление/возобновление первого этапа ООКЗ</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="publicDiscussionSuspensionPhase2" type="oos:zfcs_publicDiscussionPhase2SuspensionType">
		<xs:annotation>
			<xs:documentation>Приостановление/возобновление второго этапа ООКЗ</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="publicDiscussionComment" type="oos:zfcs_publicDiscussionCommentType">
		<xs:annotation>
			<xs:documentation>Комментарий ООКЗ</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="publicDiscussionForm" type="oos:zfcs_publicDiscussionFormType">
		<xs:annotation>
			<xs:documentation>Анкета ООКЗ</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="publicDiscussionAnswer" type="oos:zfcs_publicDiscussionAnswerType">
		<xs:annotation>
			<xs:documentation>Ответ на комментарий ООКЗ</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsStandardContract" type="oos:zfcs_standardContractType">
		<xs:annotation>
			<xs:documentation>Типовой контракт, типовые условия контракта, сведения о недействительности</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsStandardContractInvalid" type="oos:zfcs_standardContractInvalidType">
		<xs:annotation>
			<xs:documentation>Сведения о недействительности типового контракта, типовых условий контракта</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsRegulationRules" type="oos:zfcs_regulationRulesType">
		<xs:annotation>
			<xs:documentation>Версия правил нормирования в сфере закупок</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsRegulationRulesInvalid" type="oos:zfcs_regulationRulesType">
		<xs:annotation>
			<xs:documentation>Сведения о недействительности правил нормирования в сфере закупок</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsRequestForQuotation" type="oos:zfcs_requestForQuotationType">
		<xs:annotation>
			<xs:documentation>Версия запроса цен товаров, работ, услуг</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fcsRequestForQuotationCancel" type="oos:zfcs_requestForQuotationCancelType">
		<xs:annotation>
			<xs:documentation>Отмена запроса цен товаров, работ, услуг</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="masterData" type="oos:zfcs_masterDataType">
		<xs:annotation>
			<xs:documentation>Набор элементов справочников и классификаторов</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="notificationCancel" type="oos:notificationCancelType">
		<xs:annotation>
			<xs:documentation>94ФЗ извещение об отказе от проведения</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="notificationEF" type="oos:notificationEFType">
		<xs:annotation>
			<xs:documentation>94ФЗ извещение о проведении ЭА</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="notificationOK" type="oos:notificationOKType">
		<xs:annotation>
			<xs:documentation>94ФЗ извещение о проведении открытого конкурса</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="notificationPlacerChange" type="oos:notificationPlacerChangeType">
		<xs:annotation>
			<xs:documentation>94ФЗ Уведомление об изменении организации, размещающей заказ</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="notificationPO" type="oos:notificationPOType">
		<xs:annotation>
			<xs:documentation>94ФЗ извещение о проведении предварительного отбора</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="notificationSZ" type="oos:notificationSZType">
		<xs:annotation>
			<xs:documentation>94ФЗ сообщение о заинтересованности в проведении конкурса</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="notificationZK" type="oos:notificationZKType">
		<xs:annotation>
			<xs:documentation>94ФЗ извещение о проведении запроса котировок</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="placementResult" type="oos:placementResultType">
		<xs:annotation>
			<xs:documentation>94ФЗ результат размещения заказа</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="protocolCancel" type="oos:protocolCancelType">
		<xs:annotation>
			<xs:documentation>94ФЗ отмена протокола</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="protocolEF1" type="oos:protocolEF1Type">
		<xs:annotation>
			<xs:documentation>94ФЗ протокол рассмотрения первых частей заявок на участие в открытом аукционе в электронной форме</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="protocolEF2" type="oos:protocolEF2Type">
		<xs:annotation>
			<xs:documentation>94ФЗ протокол проведения открытого аукциона в электронной форме</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="protocolEF3" type="oos:protocolEF3Type">
		<xs:annotation>
			<xs:documentation>94ФЗ протокол подведения итогов открытого аукциона в электронной форме</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="protocolEvasion" type="oos:protocolEvasionType">
		<xs:annotation>
			<xs:documentation>94ФЗ протокол отказа от заключения контракта</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="protocolOK1" type="oos:protocolOK1Type">
		<xs:annotation>
			<xs:documentation>94ФЗ протокол вскрытия конвертов с заявками на участие в открытом конкурсе</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="protocolOK2" type="oos:protocolOK2Type">
		<xs:annotation>
			<xs:documentation>94ФЗ протокол рассмотрения заявок на участие в открытом конкурсе</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="protocolOK3" type="oos:protocolOK3Type">
		<xs:annotation>
			<xs:documentation>94ФЗ протокол оценки и сопоставления заявок на участие в открытом конкурсе</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="protocolPO1" type="oos:protocolPO1Type">
		<xs:annotation>
			<xs:documentation>94ФЗ протокол рассмотрения заявок на участие в процедуре предварительного отбора</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="protocolZK1" type="oos:protocolZK1Type">
		<xs:annotation>
			<xs:documentation>94ФЗ протокол рассмотрения котировочных заявок</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="protocolZK5" type="oos:protocolZK5Type">
		<xs:annotation>
			<xs:documentation>94ФЗ протокол рассмотрения котировочных заявок по главе 5</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="sketchPlan" type="oos:zfcs_sketchPlanType">
		<xs:annotation>
			<xs:documentation>План закупок в неструктурированной форме</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="sketchPlanExecution" type="oos:zfcs_sketchPlanExecutionType">
		<xs:annotation>
			<xs:documentation>Сведения об исполнении плана закупок в неструктурированной форме</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="purchasePlan" type="oos:zfcs_purchasePlanType">
		<xs:annotation>
			<xs:documentation>План закупок в структурированной форме</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="purchasePlanWithControl99NoticeCompliance" type="oos:zfcs_purchasePlanWithControl99NoticeComplianceType">
		<xs:annotation>
			<xs:documentation>План закупок в структурированной форме с уведомлением о соответствии контролируемой информации по 99 статье</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="purchasePlanExecution" type="oos:zfcs_purchasePlanExecutionType">
		<xs:annotation>
			<xs:documentation>Исполнение ллана закупок в структурированной форме</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="purchasePlanChange" type="oos:zfcs_purchasePlanChangeType">
		<xs:annotation>
			<xs:documentation>Изменение плана закупок в структурированной форме</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="tenderPlan" type="oos:zfcs_tenderPlanType">
		<xs:annotation>
			<xs:documentation>План-график в структурированной форме</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="tenderPlan2017" type="oos:zfcs_tenderPlan2017Type">
		<xs:annotation>
			<xs:documentation>План-график в структурированной форме с 01.01.2017</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="tenderPlan2017WithControl99NoticeCompliance" type="oos:zfcs_tenderPlan2017WithControl99NoticeComplianceType">
		<xs:annotation>
			<xs:documentation>План-график в структурированной форме с 01.01.2017 с уведомлением о соответствии контролируемой информации по 99 статье</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="tenderPlanChange" type="oos:zfcs_tenderPlanChangeType">
		<xs:annotation>
			<xs:documentation>Изменение плана-графика</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="tenderPlanChange2017" type="oos:zfcs_tenderPlanChange2017Type">
		<xs:annotation>
			<xs:documentation>Изменение плана-графика с 01.01.2017</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="tenderPlanCancel" type="oos:zfcs_tenderPlanCancelType">
		<xs:annotation>
			<xs:documentation>Аннулирование плана-графика</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="tenderPlanUnstructured" type="oos:zfcs_tenderPlanUnstructuredType">
		<xs:annotation>
			<xs:documentation>План-график в неструктурированной форме</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="tenderSuspension" type="oos:zfcs_tenderSuspensionType">
		<xs:annotation>
			<xs:documentation>Информация о приостановке определения поставщика (подрядчика, исполнителя) в части заключения контракта</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="timeEF" type="oos:timeEFType">
		<xs:annotation>
			<xs:documentation>94ФЗ время проведения электронного аукциона</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="timelineViolation" type="oos:zfcs_timelineViolationType">
		<xs:annotation>
			<xs:documentation>Уведомление о нарушении контроля времени получения подтверждения</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="tenderPlanID" type="oos:zfcs_tenderPlanIDType">
		<xs:annotation>
			<xs:documentation>Идентификатор плана-графика в структурированной форме</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="tenderPlanChangeID" type="oos:zfcs_tenderPlanChangeIDType">
		<xs:annotation>
			<xs:documentation>Идентификатор изменения плана-графика</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--Контроль по 99 статье-->
	<xs:element name="control99PurchasePlanExtract" type="oos:zfcs_control99PurchasePlanExtractType">
		<xs:annotation>
			<xs:documentation>Информация из плана закупок (РПЗ), направляемая на контроль по 99 статье в орган контроля</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="control99TenderPlan2017Extract" type="oos:zfcs_control99TenderPlan2017ExtractType">
		<xs:annotation>
			<xs:documentation>Информация из плана-графика с 01.01.2017 (РПГ), направляемая на контроль по 99 статье в орган контроля</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="control99ContractExtract" type="oos:zfcs_control99ContractExtractType">
		<xs:annotation>
			<xs:documentation>Информация из контракта (исполнения контракта) (РК), направляемая на контроль по 99 статье в орган контроля</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="control99NotificationExtract" type="oos:zfcs_control99NotificationExtractType">
		<xs:annotation>
			<xs:documentation>Информация из извещения (конкурсной документации) (ПРИЗ), направляемая на контроль по 99 статье в орган контроля</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="control99ProtocolExtract" type="oos:zfcs_control99ProtocolExtractType">
		<xs:annotation>
			<xs:documentation>Информация из итогового протокола ОППИ (ПРИЗ), направляемая на контроль по 99 статье в орган контроля</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="control99ContractProjectExtract" type="cp:control99ContractProjectExtractType">
		<xs:annotation>
			<xs:documentation>Информация из проекта контракта (РПК), направляемая на контроль по 99 статье в орган контроля</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="control99BeginMessage" type="oos:zfcs_control99BeginMessageType">
		<xs:annotation>
			<xs:documentation>Сообщение о начале контроля по 99 статье</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="control99RefusalMessage" type="oos:zfcs_control99RefusalMessageType">
		<xs:annotation>
			<xs:documentation>Сообщение об отказе в принятии на контроль по 99 статье</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="control99NoticeCompliance" type="oos:zfcs_control99NoticeComplianceType">
		<xs:annotation>
			<xs:documentation>Уведомление о соответствии контролируемой информации</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="control99ProtocolMismatch" type="oos:zfcs_control99ProtocolMismatchType">
		<xs:annotation>
			<xs:documentation>Протокол о несоответствии контролируемой информации</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="control99ProtocolMismatchReductFunds" type="oos:zfcs_control99ProtocolMismatchReductFundsType">
		<xs:annotation>
			<xs:documentation>Протокол о несоответствии контролируемой информации в связи с уменьшением средств</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="control99Confirmation" type="oos:zfcs_control99ConfirmationType">
		<xs:annotation>
			<xs:documentation>Результат обработки документа контроля по 99 статье</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--РАУ-->
	<xs:element name="accreditedEPSupplier" type="oos:zfcs_accreditedEPSupplierType">
		<xs:annotation>
			<xs:documentation>Информация по участнику закупки, аккредитованному на ЭП. Устарело, не применяется</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--ПП РФ № 615-->
	<xs:element name="pprf615NotificationEF" type="pp615:notificationEFType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении ЭА (электронный аукцион) по ПП РФ № 615</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pprf615TimeEF" type="pp615:timeEFType">
		<xs:annotation>
			<xs:documentation>Время проведения электронного аукциона по ПП РФ № 615</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pprf615ProtocolEF1" type="pp615:protocolEF1Type">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения заявок на участие в электронном аукционе по ПП РФ № 615</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pprf615ProtocolEF2" type="pp615:protocolEF2Type">
		<xs:annotation>
			<xs:documentation>Протокол проведения электронного аукциона по ПП РФ № 615</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pprf615ActEvasion" type="pp615:actEvasionType">
		<xs:annotation>
			<xs:documentation>Пакет данных:Акт отказа от заключения контракта по ПП РФ № 615</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pprf615ActDeviation" type="pp615:actDeviationType">
		<xs:annotation>
			<xs:documentation>Акт признания участника уклонившимся от заключения контракта по ПП РФ № 615</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pprf615NotificationPO" type="pp615:notificationPOType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении ПО (предварительный отбор) по ПП РФ № 615</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pprf615ProtocolPO" type="pp615:protocolPOType">
		<xs:annotation>
			<xs:documentation>Протокол предварительного отбора в ПО по ПП РФ № 615</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pprf615NotificationCancel" type="pp615:notificationCancelType">
		<xs:annotation>
			<xs:documentation>Извещение об отказе от проведения закупки</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pprf615ProtocolCancel" type="pp615:protocolCancelType">
		<xs:annotation>
			<xs:documentation>Информация об отмене протокола по ПП РФ № 615</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pprf615ActCancel" type="pp615:actCancelType">
		<xs:annotation>
			<xs:documentation>Информация об отмене акта по ПП РФ № 615</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pprf615Clarification" type="pp615:clarificationType">
		<xs:annotation>
			<xs:documentation>Разъяснение положений документации по ПП РФ № 615</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pprf615ClarificationRequest" type="pp615:clarificationRequestType">
		<xs:annotation>
			<xs:documentation>Запрос ЭП о даче разъяснений положений документации по ПП РФ № 615</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pprf615QualifiedContractor" type="pp615:qualifiedContractorType">
		<xs:annotation>
			<xs:documentation>Сведения о 
квалифицированной 
подрядной организации для включения в РКПО по ПП РФ № 615</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pprf615QualifiedContractorExclude" type="pp615:qualifiedContractorExcludeType">
		<xs:annotation>
			<xs:documentation>Сведения об исключении 
квалифицированной 
подрядной организации 
из РКПО по ПП РФ № 615</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pprf615QualifiedContractorExcludeCancel" type="pp615:qualifiedContractorExcludeCancelType">
		<xs:annotation>
			<xs:documentation>Сведения об отмене 
исключения 
квалифицированной 
подрядной организации 
из РКПО по ПП РФ № 615</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pprf615Contract" type="pp615:contractType">
		<xs:annotation>
			<xs:documentation>Сведения о договоре о проведении капитального ремонта по ПП РФ № 615</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pprf615ContractProcedure" type="pp615:contractProcedureType">
		<xs:annotation>
			<xs:documentation>Сведения об исполнении/расторжении договора о проведении капитального ремонта по ПП РФ № 615</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pprf615ContractProcedureCancel" type="pp615:contractProcedureCancelType">
		<xs:annotation>
			<xs:documentation>Отмена информации об исполнении/расторжении договора о проведении капитального ремонта по ПП РФ № 615</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pprf615ContractSign" type="pp615:contractSignType">
		<xs:annotation>
			<xs:documentation>Сведения о заключенном в электронной форме на ЭП договоре оказания услуг и (или) выполнения работ по капитальному ремонту общего имущества в многоквартирном доме по ПП РФ № 615</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pprf615MasterData" type="pp615:masterDataType">
		<xs:annotation>
			<xs:documentation>Набор элементов справочников и классификаторов по ПП РФ № 615</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--Электронные процедуры. Общие документы-->
	<xs:element name="epNotificationCancel" type="ep:notificationCancelType">
		<xs:annotation>
			<xs:documentation>Извещение об отмене определения поставщика (подрядчика, исполнителя) в электронной форме</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="epNotificationCancelFailure" type="ep:notificationCancelFailureType">
		<xs:annotation>
			<xs:documentation>Отмена извещения об отмене определения поставщика (подрядчика, исполнителя) в электронной форме</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="epProtocolCancel" type="ep:protocolCancelType">
		<xs:annotation>
			<xs:documentation>Информация об отмене протокола электронной процедуры</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="epClarificationDocRequest" type="ep:clarificationDocRequestType">
		<xs:annotation>
			<xs:documentation>Запрос о даче разъяснений положений документации</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="epClarificationDoc" type="ep:clarificationDocType">
		<xs:annotation>
			<xs:documentation>Разъяснение положений документации</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="epClarificationResultRequest" type="ep:clarificationResultRequestType">
		<xs:annotation>
			<xs:documentation>Запрос о даче разъяснений результатов</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="epClarificationResult" type="ep:clarificationResultType">
		<xs:annotation>
			<xs:documentation>Разъяснение результатов</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--Открытый конкурс в электронной форме (ЭOK)-->
	<xs:element name="epNotificationEOK" type="ep:notificationEOKType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении ЭOK</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="epProtocolEOK1" type="ep:protocolEOK1Type">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения и оценки первых частей заявок на участие в ЭOK</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="epProtocolEOK2" type="ep:protocolEOK2Type">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения и оценки вторых частей заявок на участие в ЭOK</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="epProtocolEOK3" type="ep:protocolEOK3Type">
		<xs:annotation>
			<xs:documentation>Протокол подведения итогов ЭOK</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="epProtocolEOKSingleApp" type="ep:protocolEOKSingleAppType">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения единственной заявки на участие ЭOK</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="epProtocolEOKSinglePart" type="ep:protocolEOKSinglePartType">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения заявки единственного участника ЭOK</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="epProlongationEOK" type="ep:prolongationEOKType">
		<xs:annotation>
			<xs:documentation>Извещение о продлении срока подачи заявок на участие в ЭOK</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--Открытый конкурс с ограниченным участием в электронной форме (ЭOK-ОУ)-->
	<xs:element name="epNotificationEOKOU" type="ep:notificationEOKOUType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении ЭOK-ОУ</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="epProtocolEOKOU1" type="ep:protocolEOKOU1Type">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения и оценки первых частей заявок на участие в ЭOK-ОУ</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="epProtocolEOKOU2" type="ep:protocolEOKOU2Type">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения и оценки вторых частей заявок на участие в ЭOK-ОУ</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="epProtocolEOKOU3" type="ep:protocolEOKOU3Type">
		<xs:annotation>
			<xs:documentation>Протокол подведения итогов ЭOK-ОУ</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="epProtocolEOKOUSingleApp" type="ep:protocolEOKOUSingleAppType">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения единственной заявки на участие ЭOK-ОУ</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="epProtocolEOKOUSinglePart" type="ep:protocolEOKOUSinglePartType">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения заявки единственного участника ЭOK-ОУ</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="epProlongationEOKOU" type="ep:prolongationEOKOUType">
		<xs:annotation>
			<xs:documentation>Извещение о продлении срока подачи заявок на участие в ЭOK-ОУ</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--Двухэтапный конкурс в электронной форме (ЭOKД)-->
	<xs:element name="epNotificationEOKD" type="ep:notificationEOKDType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении ЭOKД</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="epProtocolEOKD1" type="ep:protocolEOKD1Type">
		<xs:annotation>
			<xs:documentation>Протокол первого этапа ЭOKД</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="epProtocolEOKD2" type="ep:protocolEOKD2Type">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения и оценки первых частей заявок на участие в ЭOKД</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="epProtocolEOKD3" type="ep:protocolEOKD3Type">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения и оценки вторых частей заявок на участие в ЭOKД</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="epProtocolEOKD4" type="ep:protocolEOKD4Type">
		<xs:annotation>
			<xs:documentation>Протокол подведения итогов ЭOKД</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="epProtocolEOKDSingleApp" type="ep:protocolEOKDSingleAppType">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения единственной заявки на участие ЭOKД</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="epProtocolEOKDSinglePart" type="ep:protocolEOKDSinglePartType">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения заявки единственного участника ЭOKД</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="epProlongationEOKD" type="ep:prolongationEOKDType">
		<xs:annotation>
			<xs:documentation>Извещение о продлении срока подачи заявок на участие в ЭOKД</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--Запрос котировок в электронной форме (ЭЗК)-->
	<xs:element name="epNotificationEZK" type="ep:notificationEZKType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении ЭЗК</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="epProtocolEZK1" type="ep:protocolEZK1Type">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения заявок на участие в ЭЗК</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="epProtocolEZK2" type="ep:protocolEZK2Type">
		<xs:annotation>
			<xs:documentation>Протокол рассмотрения и оценки заявок на участие в ЭЗК</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="epProlongationEZK" type="ep:prolongationEZKType">
		<xs:annotation>
			<xs:documentation>Извещение о продлении срока подачи заявок на участие в ЭЗК</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--Запрос котировок в электронной форме (ЭЗП)-->
	<xs:element name="epNotificationEZP" type="ep:notificationEZPType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении ЭЗП</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="epProtocolEZP1Extract" type="ep:protocolEZP1ExtractType">
		<xs:annotation>
			<xs:documentation>Выписка из протокола проведения ЭЗП</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="epProtocolEZP1" type="ep:protocolEZP1Type">
		<xs:annotation>
			<xs:documentation>Протокол проведения ЭЗП</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="epProtocolEZP2" type="ep:protocolEZP2Type">
		<xs:annotation>
			<xs:documentation>Итоговый протокол ЭЗП</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--Закрытый конкурс в электронной форме (ЭЗакК)-->
	<xs:element name="epNotificationEZakK" type="ep:notificationEZakKType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении ЭЗакК</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--Закрытый конкурс в электронной форме (ЭЗакК-ОУ)-->
	<xs:element name="epNotificationEZakKOU" type="ep:notificationEZakKOUType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении ЭЗакК-ОУ</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--Закрытый конкурс в электронной форме (ЭЗакКД)-->
	<xs:element name="epNotificationEZakKD" type="ep:notificationEZakKDType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении ЭЗакКД</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--Закрытый конкурс в электронной форме (ЭЗакА)-->
	<xs:element name="epNotificationEZakA" type="ep:notificationEZakAType">
		<xs:annotation>
			<xs:documentation>Извещение о проведении ЭЗакА</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--Проекты контрактов-->
	<xs:element name="cpContractProject" type="cp:contractProjectType">
		<xs:annotation>
			<xs:documentation>Проект контракта без подписей</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="cpContractProjectChange" type="cp:contractProjectChangeType">
		<xs:annotation>
			<xs:documentation>Доработанный проект контракта на основании размещенного поставщиком протокола разногласий</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="cpContractProjectSign" type="cp:contractProjectSignType">
		<xs:annotation>
			<xs:documentation>Проект контракта, подписанный поставщиком</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="cpContractSign" type="cp:contractSignType">
		<xs:annotation>
			<xs:documentation>Подписанный контракт</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="cpProtocolDisagreements" type="cp:protocolDisagreementsType">
		<xs:annotation>
			<xs:documentation>Протокол разногласий</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="cpNoticeDeviation" type="cp:noticeDeviationType">
		<xs:annotation>
			<xs:documentation>Уведомление 
об уклонении 
от заключения 
контракта</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="cpNoticeEvasion" type="cp:noticeEvasionType">
		<xs:annotation>
			<xs:documentation>Уведомление 
об отказе 
от заключения 
контракта</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="cpProcedureCancel" type="cp:procedureCancelType">
		<xs:annotation>
			<xs:documentation>Извещение об отмене процедуры заключения контракта</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="cpProcedureCancelFailure" type="cp:procedureCancelFailureType">
		<xs:annotation>
			<xs:documentation>Отмена извещения об отмене процедуры заключения контракта</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--Лимиты бюджетных обязательств (ЛБО)-->
	<xs:element name="fcsLBO" type="oos:zfcs_LBOType">
		<xs:annotation>
			<xs:documentation>Сведения о лимитах бюджетных обязательств (ЛБО), загружаемых из региональных систем финансового учета</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
